<div class="text-center mt-2">
    <h1 class="display-4">Acerca de</h1>
</div>
<div class="row my-5">
    <div class="col-10 offset-1  col-md-8 offset-md-2 col-lg-6 offset-lg-3">
        <div class="card px-4 py-3">
            <div class="row">
                <div class="col-sm-6 text-center mb-4">
                    <img class="img-fluid" src="../../assets/foto.jpg">
                </div>
                <div class="col-sm-6">
                    <span class="pint"><b>Nombre  <i class="fas fa-user"></i></b></span> <br/>
                    <span>Eiron Santiago</span>    <br/> <br/>
                    <span class="pint"><b>Apellido    <i class="fas fa-user"></i></b></span> <br/>
                    <span>Diaz Rivas</span>        <br/> <br/>
                    <span class="pint"><b>Correo  <i class="fas fa-envelope-open-text"></i></b></span> <br/>
                    <span>eirondiaz@gmail.com</span>     <br/><br/>
                    <span class="pint"><b>Telefono  <i class="fab fa-whatsapp"></i></b></span> <br/>
                    <span>809-764-3047</span> 
                </div>
            </div>
        </div>
    </div>
</div>